@tailwind base;
@tailwind components;
@tailwind utilities;



#user_input {
    animation: blink-cursor 0.75s step-end infinite;
}

@keyframes blink-cursor {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: white;
    }

}